apiVersion: v1
kind: Namespace
metadata:
  name: "{{ app_project }}"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app{{ app_number }}
  namespace: "{{ app_project }}"
spec:
  replicas: {{ app_replicas }}
  selector:
    matchLabels:
      app: app{{ app_number }}
  template:
    metadata:
      labels:
        app: app{{ app_number }}
    spec:
      containers:
        - image: quay.io/redhattraining/apache-log-spoof:v0.5
          name: httpd
          env:
            - name: LOGGER_CONFIG_FILE
              value: /etc/logger/config.yml
          volumeMounts:
            - mountPath: /etc/logger
              name: config-data
              readOnly: true
      volumes:
        - name: config-data
          secret:
            secretName: app{{ app_number }}-config
