apiVersion: v1
kind: Namespace
metadata:
  name: "{{ app_project }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: app{{ app_number }}-config
  namespace: "{{ app_project }}"
data:
  config.yml: {{ app_config | b64encode }}
